.part-box {
  padding: 1rem;
  border: 2px solid var(--lightgray2);
}

.part-box img {
  max-width: 6rem;
  max-height: 6rem;
}

.part-box-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.8rem;

  button {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1.6rem;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    transition: all 0.3s;
  }
}

.plusBtn:hover {
  background-color: var(--emerald);
  color: var(--black);
}
.minusBtn:hover {
  background-color: var(--red);
  color: white;
}



