* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.mainLogo {
  font-size: 3rem;
  margin-right: 0.4rem;
  transition: all 0.3s;
}

.mainLogo:hover {
  color: var(--emerald2);
  transform: translateY(-4px);
}

.setDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.setDataThumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--lightgray2);
  padding: 1rem;
  border-radius: 1.6rem;
}

.addSetBtn {
  margin-right: 1rem;
  border-radius: 1.6rem;
  background-color: var(--black);
  border: 2px solid var(--black);
  padding: 0.5rem;
  transition: all 0.3s;
}

.addSetBtn:hover {
  background-color: var(--emerald);
  border: 2px solid var(--emerald);
}

.addBtnIcon {
  transition: all 0.3s;
  font-size: 1.3rem;
  color: white;
}
.addBtnIcon:hover {
  transform: rotateZ(90deg);
}

.setDataMeta {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.setDataDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--lightgray1);
  border: 2px solid var(--lightgray2);
  padding: 0.6rem;
  border-radius: 0.6rem;
  gap: 0.4rem;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.metaDataIconChip {
  border: 2px solid var(--lightgray2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--black);
  padding: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1.6rem;
  margin-right: 0.2rem;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--lightgray1);
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.projectItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid var(--lightgray1);
  padding: 1rem;
  gap: 1rem;
}

.projectItem:last-child {
  border-bottom: none;
}

.projectMeta {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 1.5rem;
    color: var(--black);
  }
}

.projectThumbnail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1em;
    margin-right: 1rem;
  }
}

.optionBtn {
  background-color: var(--lightgray1);
  border: none;
  color: var(--black);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.3s;
  border: 2px solid var(--lightgray2);
}

.deleteBtn:hover {
  background-color: var(--red);
  border: 2px solid var(--red);
}

.editBtn:hover {
  background-color: var(--emerald);
  border: 2px solid var(--emerald);
}

.optionBtn:active {
  transform: translateY(2px);
  border: 2px solid var(--lightgray2);
}
.optionBtn:focus {
  outline: none;
}