* {
  box-sizing: border-box;
}

.set-page-loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  p {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 1rem;
  }
}

.set-page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.set-page-set-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--lightgray2);
}

.headerLogoContainer {
  display: flex;
  align-items: center;
  width: 100%;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--emerald2);
    margin-left: 0.4rem;
  }
}

.headerLogo {
  font-size: 2rem;
  color: var(--emerald2);
}

.set-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
  padding: 1rem;
  border-radius: 3rem;
  border: 2px solid var(--emerald);
  gap: 1rem;
}

.setTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
}

.setMetadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.set-page-percentage-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set-container img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--lightgray2);
  transition: all 0.3s;
}
.set-page-set-info img:hover {
  border: 2px solid var(--blue);
}

.set-page-tabs {
  margin-left: 20px;
}

.set-page-parts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.set-page-share-icon {
  padding: 0.8rem;
  background-color: var(--lightgray1);
  border-radius: 50%;
  border: 2px solid var(--lightgray2);
  font-size: 1.2rem;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.set-page-share-icon:hover {
  border-color: var(--blue);
}

/* Responsive */
@media (max-width: 768px) {
  .set-container {
    flex-direction: column;
    align-items: center;
  }

  .setTitle {
    font-size: 1.5rem;
  }

  .set-page-parts-list {
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  }
}